
nav {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  background-color: rgb(16, 44, 87);
  position: sticky;
  top: 0; 
}

.title {
  font-family: "Rancho", cursive;
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  height: 100%;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
}

nav li {
  margin: 0 2rem;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.5rem;
}


nav ul li a.active{
background-color: rgb(22,121,171);
}

nav ul li a:hover {
  background-color: rgb(22,121,171);
}





